---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import image_01 from '../assets/img/01.jpeg'
import image_02 from '../assets/img/02.jpeg'
import image_03 from '../assets/img/03.jpeg'
---

<DefaultLayout title="Home">
	<!-- <section class="margin-48">
    <div class="container">
      <h1>Accessible Astro <em>Starter</em></h1><br>
    </div>
  </section> -->
	<section>
		<div class="masthead container">
			<div class="masthead-content">
				<div class="masthead-container">
					<h1 class="masthead-heading mb-4">Universal Donation Widget</h1>
					<h2 class="masthead-subheading mb-4">Accept donations in any cryptocurrency within minutes.</h2>
					<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
				</div>
			</div>
			<div class="bg-circle-1 bg-circle"></div>
			<div class="bg-circle-2 bg-circle"></div>
			<div class="bg-circle-3 bg-circle"></div>
			<div class="bg-circle-4 bg-circle"></div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="container-card">
					<div class="p-5">
						<img class="rounded-full" src={image_01} alt="Image of coins">
						<!-- <img class="rounded-full" src="http://www.cryptowidget.org/img/01.jpg" alt="" /> -->
					</div>
				</div>
				<div class="container-card">
					<div class="p-5">
						<h2 class="display-4">Secure and Transparent</h2>
						<p>
							All donations are fully transparent and secure. We help manage your digital wallet, security keys in any
							cryptocurrency and help liquidate to your bank immediately. Contributions are visible on the public
							blockchain and simple receipts are provided for tax writeoffs.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row row-flip">
				<div class="container-card">
					<div class="p-5">
						<h2 class="display-4">Easy to Use</h2>
						<p>
							Integrate to your website by pasting our widget on to your website. Within minutes, your visitors will be
							able to donate directly your digital wallets using the cryptocurrency of their choice.
						</p>
					</div>
				</div>
				<div class="container-card">
					<div class="p-5">
						<img class="rounded-full" src={image_02} alt="Guitar player full" />
						<!-- <img class="rounded-full" src="http://www.cryptowidget.org/img/02.jpg" alt="" /> -->
					</div>
				</div>
				<!-- <div class="container-card">
					<div class="p-5">
						<h2 class="display-4">Easy to Use</h2>
						<p>
							Integrate to your website by pasting our widget on to your website. Within minutes, your visitors will be
							able to donate directly your digital wallets using the cryptocurrency of their choice.
						</p>
					</div>
				</div> -->
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="container-card">
					<div class="p-5">
						<img class="rounded-full" src={image_03} alt="Guitar player closeup" />
						<!-- <img class="rounded-full" src="http://www.cryptowidget.org/img/03.jpg" alt="" /> -->
					</div>
				</div>
				<div class="container-card">
					<div class="p-5">
						<h2 class="display-4">We Promote You</h2>
						<p>
							Our widget will help drive more traffic to your site. As our network grows, our widget promotes
							contributors to your organization based on location, charity, cause, or focus.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="padding-48 color-primary">
		<div class="container">
			<h2 class="margin-16 bottom">Auto Grid</h2>
		</div>
		<div class="container" data-auto-grid="3">
			<div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in">
				<h3>Column 1</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium placeat eius officiis
					veniam totam. Earum eos et voluptate dolorem.
				</p>
			</div>
			<div
				class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
				data-animation="fade-in"
				data-animation-delay="0.25s"
			>
				<h3>Column 2</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium placeat eius officiis
					veniam totam. Earum eos et voluptate dolorem.
				</p>
			</div>
			<div
				class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
				data-animation="fade-in"
				data-animation-delay="0.5s"
			>
				<h3>Column 3</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium placeat eius officiis
					veniam totam. Earum eos et voluptate dolorem.
				</p>
			</div>
		</div>
		<div class="container margin-16 top">
			<a href="#" class="button">Tab to me first!</a>&nbsp;
			<a href="#" class="button color-secondary">Then it's my turn</a>
		</div>
	</section>
	<section class="margin-64">
		<div class="container">
			<div class="grid">
				<div class="small-12">
					<h2>12 Column Grid</h2>
				</div>
				<div class="small-12 medium-3 space-content">
					<h3>Sidebar</h3>
					<ul>
						<li>Lorem ipsum dolor sit amet.</li>
						<li>Lorem ipsum dolor sit amet.</li>
						<li>Lorem ipsum dolor sit amet.</li>
						<li>Lorem ipsum dolor sit amet.</li>
					</ul>
				</div>
				<div class="small-12 medium-8 offset-medium-4 space-content">
					<h3>Main</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia alias sunt accusamus reiciendis
						fuga delectus, repellendus molestiae dolore illo iusto eligendi eaque qui hic facilis assumenda! Velit,
						minus, nobis. <strong><a href="#">And lastly tab to me</a></strong>.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia alias sunt accusamus reiciendis
						fuga delectus, repellendus molestiae dolore illo iusto eligendi eaque qui hic facilis assumenda! Velit,
						minus, nobis.
					</p>
				</div>
			</div>
		</div>
	</section>
</DefaultLayout>

<style lang="scss">
	.masthead {
		position: relative;
		overflow: hidden;
		padding-top: calc(7rem + 72px);
		padding-bottom: 7rem;
		// background: linear-gradient(0deg, #ff6a00 0, #ee0979 100%);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		background-size: cover;
		text-align: center;
		// color: #fff;
		border-radius: 10px;

		.masthead-content {
			z-index: 1;
			position: relative;

			.masthead-container {
				width: 100%;
				padding-right: 15px;
				padding-left: 15px;
				margin-right: auto;
				margin-left: auto;

				.masthead-heading {
					font-size: 4rem;
					line-height: 1.2;
					color: inherit;
				}

				.masthead-subheading {
					font-size: 2rem;
					line-height: 1.2;
					color: inherit;
				}
			}
		}

		.bg-circle {
			z-index: 0;
			position: absolute;
			border-radius: 100%;
			background: linear-gradient(0deg, #ee0979 0, #ff6a00 100%);
		}

		.bg-circle-1 {
			height: 90rem;
			width: 90rem;
			bottom: -55rem;
			left: -55rem;
		}

		.bg-circle-2 {
			height: 50rem;
			width: 50rem;
			top: -25rem;
			right: -25rem;
		}

		.bg-circle-3 {
			height: 20rem;
			width: 20rem;
			bottom: -10rem;
			right: 5%;
		}

		.bg-circle-4 {
			height: 30rem;
			width: 30rem;
			top: -5rem;
			right: 35%;
		}
	}

	.container-card {
		max-width: 594px;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
		align-items: center;
		justify-content: center;
	}

	.row-flip {
		flex-direction: column-reverse;
	}
	@media (min-width: 768px) {
		.row {
			flex-direction: row-reverse;
			justify-content: space-evenly;
		}

		.container-card {
			max-width: 354px;
		}
	}
</style>
